@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$app-font: Lato, sans-serif;

$content-font-size: 1.15rem;
$hint-font-size: 1rem;
$title-font-size: 1.75rem;
$big-text-font-size: 1.5rem;
$header-link-font-size: 1.3rem;
