@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato Hairline'), local('Lato-Hairline'),
		url('../fonts/lato-v16-latin-100.woff') format('woff') /* Modern Browsers */
}

/* lato-300 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'),
		url('../fonts/lato-v16-latin-300.woff') format('woff') /* Modern Browsers */
}

/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'),
		url('../fonts/lato-v16-latin-regular.woff') format('woff') /* Modern Browsers */
}

/* lato-italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'),
		url('../fonts/lato-v16-latin-italic.woff') format('woff') /* Modern Browsers */
}

/* lato-700 - latin */

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'),
		url('../fonts/lato-v16-latin-700.woff') format('woff') /* Modern Browsers */
}

/* lato-900 - latin */

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), local('Lato-Black'),
		url('../fonts/lato-v16-latin-900.woff') format('woff') /* Modern Browsers */
}
