@import 'vars/fonts';
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core(mat-typography-config(
	$font-family: '"Lato", sans-serif'
));

* {
	@include font-smoothing();
	font-family: $app-font;
	line-height: normal;
}

html {
	font-size: 12px;
}

body {
	height: 100%;
}
